[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "crossword.r"]
	path = crossword.r
	url = https://github.com/petermeissner/crossword.r
[submodule "dsmisc"]
	path = dsmisc
	url = https://github.com/petermeissner/dsmisc
[submodule "hellno"]
	path = hellno
	url = https://github.com/petermeissner/hellno
[submodule "ical"]
	path = ical
	url = https://github.com/petermeissner/ical
[submodule "librarysnapshot"]
	path = librarysnapshot
	url = https://github.com/petermeissner/librarysnapshot
[submodule "r6extended"]
	path = r6extended
	url = https://github.com/petermeissner/r6extended
[submodule "stringb"]
	path = stringb
	url = https://github.com/cran/stringb
[submodule "tabit"]
	path = tabit
	url = https://github.com/petermeissner/tabit
[submodule "wikipediatrend"]
	path = wikipediatrend
	url = https://github.com/petermeissner/wikipediatrend
